*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===common css */
body{
    font-family:'Roboto', sans-serif;
    background-color: #fff;
   
}
:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}
h1,h2,h3,h4,h5,h6,p{
    /* margin: 0px; */
    text-decoration: none;
}
.f11{
    font-size: 20px;
}

/* ===common css */

/* ===top wrap design area */
.top-wrap{
    background-color:transparent;
    position: absolute;
    top: 10px;
    
    left: 0px;
    width: 100%;
    color: #fff;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 400;
}
.navbar-brand span{
    font-size: 10px;
}
.navbar-brand:hover{
    /* color: var(--bs-primary); */
    color: #1eb2a6;
}
.social-falt-icon i{
 
 border-radius: 50%;
 border: 6px solid rgb(255,255,255, 0.3);
}
.social-falt-icon i:hover{
    color: #fff;
}



/* ===top wrap design area */

/* ==navbar area start */
.navbar-area{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;

}
/* == navbar area end */
/* ==navbar start */
.navbar-area-bg{
    background: rgba(14, 9, 9, 0.7) ;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: var(--bs-navbar-nav-link-padding-x);
	padding-left: var(--bs-navbar-nav-link-padding-x);
	padding: 25px 60px 20px 14px;
	font-size: 15px;
	font-weight: 600;
	transition: all linear 0.2s;
	color: #fff;
    border-radius: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1eb2a6 ;
}
.navbar-nav .nav-btn{
    background: #1eb2a6;
    position: relative;
    z-index: 2;
    color: #fff;
} 


.nav-btn::before{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -20px;
    width: 80px;
    background: #1eb2a6;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: -1;
    content: '';
}
/* ===navbar end== */
/* ==banner area== */

#banner{
    background-image: url(../img/bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 0px;
    background-clip: content-box;
  
}
.b-header{
    padding: 300px 0px 100px 0px;
}
.banner-btn a{
    position: relative;
    margin-right: 20px;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    color: #1eb2a6;
    font: 18px;
    transition: all linear 0.4s;

}
.banner-btn a:hover{
    background-color: #1eb2a6;
    color: #fff;
}
.clock{
    display: none;
}

/* ==banner area === */
/* ==about area */

.img-area img{
  width: 100%;
  height: 600px;
  border-radius: 10px;
 
}
#about{
    background-color:rgb(245, 240, 238);
    padding: 30px;
}
.text-box{
    padding-bottom: 10px;
}
.text-box-area{
    background-color: #fff;
    padding: 15px;
    transition: all linear 0.4s;
    border-radius: 10px;
}
.text-box-area:hover{
    background-color: rgb(255,255,255,0.1);
    border-left: 4px solid #1eb2a6;
    /* color: #fff; */
}
.about-heading-area{
    padding: 35px 0px;
}


/* ==about area */
/* ===counter area== */
#counter{
    background-image: url(../img/bg_3.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
  
}
#counter::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    background: #111111;
    z-index: -2;
}
.counter-icon {
    display: flex;

    /* flex-direction: column; */
}
.counter-main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter-animation{
    font-size: 30px;
    font-weight: 800;
}
.counter-icon img{
    width: 80px;
    height: 80px;
   color: red;
}
.count{
    font-size: 45px;
    font-weight: 800;
    color: #fff;
  

}
.counter-text p{
    color: #fff;
    font-size: 20px;
}


/* ===counter area== */

/* ===courese area== */
section#our-courese\ {
    padding: 100px;
}
.coures-img img{
    width: 100px;
    height: 100px;
}
.tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer;
    display: none;
}
.my-courese{
    padding: 30px 0px;
    gap: 10px;
}
.courese-item{
    display: flex;
    flex-direction: column;
    /* width: 400px;
    height: 600px; */
    gap: 10px;
    justify-content: space-around;
    padding: 20px;
    border-right: 5px solid var(--bs-cyan);
    border-bottom: 5px solid var(--bs-cyan);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    border-radius: 10px;
}
.courese-item .courese-fee{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 5px;
    transition: all linear 0.4s;
}
.courese-item .courese-fee:hover{
    color: #fff;
    background-color: var(--bs-info);
}
.five-star{
    color: #0dcaf0;
}
.enroll-button{
    padding-top: 20px;
}
.enroll-button a{
    text-decoration: none;
    padding: 10px 20px ;
    text-align: center;
    border: 2px solid var(--bs-info);
    border-radius: 10px;
    color: #000;
    transition: all linear 0.4s;
    

}
.enroll-button a:hover{
    background-color: var(--bs-info);
    color: #fff;
}


/* ==courese area=== */